@import '../../styles/colors.scss';

.chatbox {
    background: $primaryDarkBackground;
    color: white;
    height: 100%;
    min-height:100vh;
    padding:16px;
}

.text{
    color:white;
}

.text > span {
    color:white;
}

.list {
    padding:10px 0 !important;
}