@import '../../styles/colors.scss';

.searchbox {
    background: $secondaryDarkBackground;
    border-radius: 2px;
    padding:4px;
    color:white !important;

}

.icon {
    color:white;
}

.material-icons {
    color:white;
}