@import '../../styles/colors.scss';

.chatbox {
    background: $chatboxBg;
    height: 100%;
    padding: 15px 20px ;
    margin:0;
}

.header { 
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.subheader {
    font-size: 10px;
    font-weight: 300;
    text-decoration: none;
}

.chatbody {
}

.sendbutton {
    color: $chatboxBlue !important;
}

.input{
    background:white;
    border: none !important;
    border-bottom: none;
    border-radius:  5px;
    padding:5px;
    width:100%;

}

.input::before{
    border: none  !important;
}

.input::after{
    border: none !important;
}

.inputwrapper {
    border-top: white 2px solid;
    padding-top: 20px;
    margin: 20px;
    display:flex;
    flex-flow:column nowrap;
    align-items: flex-end;
}